<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TrackBoard - Login</title>
    <link rel="stylesheet" href="{{ url_for("static",filename="css/login.css") }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

<div class="login-page">
<img src="{{ url_for("static",filename="images/TrackBoardLogo_Blue.png")}}" alt="TrackBoard Logo">
    <H1>Welcome back!</H1>
    <H2>Login with your TrackBoard account to continue.</H2>
    <div class="form">
    <form class="login-form" action="" method="post">
        <input type="text" placeholder="username" name="username" value="{{ request.form.username }}"/>
        <input type="password" placeholder="password" name="password" value="{{ request.form.password }}"/>
        <button type="submit" value="login">login</button>
        {% if error %}
        <p class="fout"> <strong>ERROR: </strong> {{ error }} </p>
        {% endif %}
        <p class="message"><a href="{{ url_for("index") }}">Return to TrackBoard homepage</a></p>
    </form>
  </div>
</div>
</body>
</html>