{% extends "master.html" %}

{% block statistics %}
class="current"
{% endblock %}

{#Title#}
{% block title %}
TrackBoard - Session detail
{% endblock %}

{#Body#}
{% block body %}
    <h1> Session {{ sessionID }} details:</h1>
    <div id="sessionwrapper">
    <div id="map"></div>
    {#BEGIN tabel --------------#}
    <div id="gpstable">
    <table>
    <thead>
    <tr>
        <th><span class="text">Speed</span></th>
        <th><span class="text">Time</span></th>
    </tr>
    </thead>
    </table>
    <div id="scroll">
    <table>
    <tbody>
    {% for line in speedAndTime %}
    <tr>
        <td>{{ line[0] }} km/h</td>
        <td>{{ line[1] }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    </div>
    {#---------------------#}
    </div>

    <div id="info">
        {{ macro.box2(sessionBegin[0],"Session begin", "#004e81", "005-time.png") }}
        {{ macro.box2(sessionEnd[0] ,"Session end","#004e81", "005-time.png") }}
        {{ macro.box2(sessionDuration[0], "Duration","#004e81", "005-time.png") }}
        {{ macro.box2((sessionTopSpeed[0]|string) + " KM/H" ,"Top speed","rgba(0, 78, 129, 0.80)", "004-speedometer.png") }}
        {{ macro.box2((sessionAverageSpeed[0]|string) + " KM/H" ,"Average speed","rgba(0, 78, 129, 0.80)", "004-speedometer.png") }}
        {{ macro.box2((totaleAfstand[0]|string) + " KM" ,"Distance","rgba(0, 78, 129, 0.80)", "003-distance-to-travel-between-two-points.png") }}
        {{ macro.box2((sessionHighestAltitude[0]|string) + " M" ,"highest altitude","rgba(0, 78, 129, 0.60)", "002-upload.png") }}
        {{ macro.box2((sessionLowestAltitude[0]|string) + " M" ,"lowest altitude","rgba(0, 78, 129, 0.60)", "001-download.png") }}
        {{ macro.box2((sessionAltitudeDifference[0]|string) + " M" ,"altitude difference","rgba(0, 78, 129, 0.60)", "000-difference.png") }}
    </div>
    <script>
          function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 8,
              center: {lat: 51.0, lng: 3.8},
              mapTypeId: 'terrain'
            });

            var flightPlanCoordinates = [
                {% for latLng in coordinates %} {lat: {{ latLng[0] }}, lng: {{ latLng[1] }}}, {% endfor %}
            ];
            var flightPath = new google.maps.Polyline({
              path: flightPlanCoordinates,
              geodesic: true,
              strokeColor: '#FF0000',
              strokeOpacity: 1.0,
              strokeWeight: 2
            });
            flightPath.setMap(map);
    {#Map centreren op pad -------------------------#}
              function zoomToObject(obj){
            var bounds = new google.maps.LatLngBounds();
            var points = obj.getPath().getArray();
            for (var n = 0; n < points.length ; n++){
                bounds.extend(points[n]);
            }
            map.fitBounds(bounds);
    {#----------------------------------------------#}
    }

    flightPath.setMap(map);
    zoomToObject(flightPath);
          }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJ4P0xGI2CO7M42_bAnyfe5JIwKwcjmzs&callback=initMap"> </script>
{% endblock %}

{% block footer %}
    {{ macro.footer() }}
{% endblock %}