{% extends "master.html" %}

{% block statistics %}
class="current"
{% endblock %}

{#Title#}
{% block title %}
TrackBoard - Statistics
{% endblock %}

{#Body#}
{% block body %}
    <div class="wrapper">
    <div class="statistics">
    <a href="{{ url_for("sessions")}}"> {{ macro.build_figure("Sessions.jpg", "Sessions")}} </a>
    <a href="{{ url_for("weeklyoverview")}}">{{ macro.build_figure("Weekly.jpg", "Weekly overview")}}</a>
    <a href="{{ url_for("total")}}">{{ macro.build_figure("Total.jpg", "Total")}}</a>
    </div>
    </div>
{% endblock %}

{% block footer %}
    {{ macro.footer() }}
{% endblock %}