{% extends "master.html" %}

{% block statistics %}
class="current"
{% endblock %}

{#Title#}
{% block title %}
TrackBoard - test
{% endblock %}

{% block header %}{% endblock %}

{#Body#}
{% block body %}
    <h1> TEST MAP </h1>
    <div id="map"></div>
    <div id="info">
    </div>
    <script src="{{url_for('static', filename='js/map.js')}}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJ4P0xGI2CO7M42_bAnyfe5JIwKwcjmzs&callback=initMap"> </script>
{% endblock %}

{% block footer %}
    {{ macro.footer() }}
{% endblock %}